/* Table wrapper */

.coursesTable-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* Table */

.coursesTable {
    width: 100%
}

/* Table, header cells, rows cells */

table, th, td {
    border-collapse: collapse;
}

/* Header */

thead {
    background-color: #141414;
}

thead tr {
    color: #b2b2b2;
    height: 60px;
    border-bottom: 1px solid #262626;
}

th {
    text-align: center;
}

/* Rows */

tbody tr {
    color: #b2b2b2;
    background-color: #191919;
    height: 60px;
    border-bottom: 1px solid #262626;
}

tbody tr:last-child {
    border-bottom: 0;
}

tbody tr:hover {
    background-color: #262626;
    cursor: pointer;
}

tbody td {
    font-size: 14px;
    text-align: center;
}

/* Row action */

.course__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.course__action-delete button {
    padding: 10px 15px;
    background-color: #0d0d0d;
    border: 0;
    color: #b2b2b2;
    border-radius: 5px;
    cursor: pointer;
}

.course__action-delete:hover button {
    color: #fff;
    border: 0;
    background-color: #003bff;
}